html {
  min-height: 100vh;
}
.user-profile-background {
  color: #2b7a78;
  padding: 0 40px 0 40px;
  border-radius: 10px;
  border: solid 2px #feffff;
}

.landing-welcome{
  font-family:"Allerta Stencil", sans-serif;
  font-size: 100px;
  color: white;
  position: absolute;
  top: 25%;
  left:30%
}
.background-bar {
  background-size: cover;
  background: #17252a no-repeat center center fixed;
  height: 450px;
  margin-bottom: 128px;
}
